<nav class="links fadeIn animated">
    <ul>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
        <li class="github"><a title="GitHub" href="http://github.com/andyrusiecki"><i class="fa fa-fw fa-github-square"></i></a></li>
        <li class="instagram"><a title="Instagram" href="http://instagram.com/andyrusiecki"><i class="fa fa-fw fa-instagram"></i></a></li>
        <li class="linkedin"><a title="LinkedIn" href="http://linkedin.com/in/andyrusiecki"><i class="fa fa-fw fa-linkedin-square"></i></a></li>
        <li class="twitter"><a title="Twitter" href="http://twitter.com/andyrusiecki"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        <li class="youtube"><a title="YouTube" href="http://youtube.com/andyrusiecki"><i class="fa fa-fw fa-youtube-square"></i></a></li>
    </ul>
</nav>
